html {
    height: 100%;
}
body {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
div#outerContainer {
	min-height: 100%; 
}
/**************************************/                
/*         cell colors                */
/**************************************/   
.cellGreen {
    background-color: green;
    font-weight: bold;
    color: white;
}             
.cellLightGreen {
    background-color: #90EE90;
    font-weight: bold;
}             
.cellLightSalmon {
    background-color: #FFA07A;
    font-weight: bold;
}             
.cellDarkOrange {
    background-color: #FF8C00;
    font-weight: bold;
}             
.cellRed {
    background-color: red;
    font-weight: bold;
    color: white;
}             
